In [1]:
import pandas as pd
import re
import csv
pd.options.display.max_columns = None
import numpy as np
from collections import Counter

In [2]:
alex = pd.read_csv('../../data/processed/openalex_author_df.csv')

In [3]:
# if there is type, there is name
alex[(alex['First Institution Type'].notnull()) & (
    alex['First Institution Name'].isnull())]

Empty DataFrame
Columns: [Year, DOI, Title, Number of Authors, Author Name, Author Position, Author Position Type, OpenAlex Author ID, Author ORCID, Number of Affiliations, First Institution Name, Raw Affiliation String, First Institution ID, First Institution ROR, First Institution Type, First Institution Country Code]
Index: []

In [4]:
# if there is country code, there is name
alex[(alex['First Institution Country Code'].notnull()) & (
    alex['First Institution Name'].isnull())]

Empty DataFrame
Columns: [Year, DOI, Title, Number of Authors, Author Name, Author Position, Author Position Type, OpenAlex Author ID, Author ORCID, Number of Affiliations, First Institution Name, Raw Affiliation String, First Institution ID, First Institution ROR, First Institution Type, First Institution Country Code]
Index: []

In [5]:
# how many unique institution types are there
type_list = alex['First Institution Type'].tolist()
Counter(type_list)

Counter({'education': 8325,
         'company': 790,
         nan: 2365,
         'facility': 711,
         'nonprofit': 79,
         'government': 187,
         'other': 17,
         'healthcare': 85,
         'archive': 12})

In [11]:
education = alex[alex['First Institution Type'].isin(['education'])]['First Institution Name'].tolist()
school_list = list(Counter(education).keys())
len(school_list)

496

In [13]:
school_list[0].lower()

'stanford university'

In [15]:
[i for i in school_list if 'university' not in i.lower()]

['Georgia Institute of Technology',
 'The Wallace H. Coulter Department of Biomedical Engineering',
 'Worcester Polytechnic Institute',
 'Technische Universität Darmstadt',
 'Massachusetts Institute of Technology',
 'ETH Zurich',
 'California Institute of Technology',
 'Weizmann Institute of Science',
 'Technion – Israel Institute of Technology',
 "École nationale de l'aviation civile",
 'Virginia Tech',
 'Dowling College',
 'Harbin Institute of Technology',
 'Universidade Federal do Rio Grande do Sul',
 'Institute of Science and Technology Austria',
 'Télécom ParisTech',
 'École Centrale Paris',
 "King's College London",
 'Ulsan National Institute of Science and Technology',
 'Rensselaer Polytechnic Institute',
 'Katholieke Universiteit Leuven',
 'Technische Universität München',
 'Colorado School of Mines',
 'KAIST',
 'Universiti Putra Malaysia',
 'Institut Eurécom',
 'Université Paris-Saclay',
 'Indian Institute of Science',
 'Illinois Institute of Technology',
 'Hiroshima Institute of Technology',
 'Imperial College London',
 'Stevens Institute of Technology',
 'TU Dresden',
 'Karlsruhe Institute of Technology',
 'Indian Institute of Technology Delhi',
 'China Academy of Art',
 'Rochester Institute of Technology',
 'Middlebury College',
 'Roanoke College',
 'Augsburg College',
 'Vassar College',
 'Carl Albert State College',
 'Université du Québec',
 'Smith College',
 'Minneapolis College of Art and Design',
 'École centrale de Lyon',
 'Universidad Nacional del Sur',
 'Agro ParisTech',
 'Royal Veterinary College',
 'Royal Institute of Technology',
 'École de technologie supérieure',
 'New Jersey Institute of Technology',
 'Union College',
 'Indian Institute of Technology Kharagpur',
 'São Paulo Federal Institute of Education, Science and Technology',
 'Hannover Medical School',
 'KU Leuven',
 'Boston College',
 'Indian Institutes of Technology']

In [17]:
alex[alex['First Institution Name'] == 'China Academy of Art']

,Year,DOI,Title,Number of Authors,Author Name,Author Position,Author Position Type,OpenAlex Author ID,Author ORCID,Number of Affiliations,First Institution Name,Raw Affiliation String,First Institution ID,First Institution ROR,First Institution Type,First Institution Country Code
6801,2016,10.1109/TVCG.2016.2598415,A Visual Analytics Approach for Understanding ...,7,Zhipeng Wang,5,middle,https://openalex.org/A2563802158,NaN,1.0,China Academy of Art,China Academy of Art#TAB#,https://openalex.org/I231293419,https://ror.org/01r61sr78,education,CN

In [18]:
alex[alex.DOI == '10.1109/TVCG.2016.2598415']

,Year,DOI,Title,Number of Authors,Author Name,Author Position,Author Position Type,OpenAlex Author ID,Author ORCID,Number of Affiliations,First Institution Name,Raw Affiliation String,First Institution ID,First Institution ROR,First Institution Type,First Institution Country Code
6797,2016,10.1109/TVCG.2016.2598415,A Visual Analytics Approach for Understanding ...,7,Quan Li,1,first,https://openalex.org/A2435562399,https://orcid.org/0000-0003-2249-0728,1.0,Hong Kong University of Science and Technology,", Hong Kong University of Science and Technology",https://openalex.org/I200769079,https://ror.org/00q4vv597,education,HK
6798,2016,10.1109/TVCG.2016.2598415,A Visual Analytics Approach for Understanding ...,7,Peng Xu,2,middle,https://openalex.org/A2539526252,NaN,1.0,"NetEase, Inc.","NetEase, Inc.",NaN,NaN,NaN,NaN
6799,2016,10.1109/TVCG.2016.2598415,A Visual Analytics Approach for Understanding ...,7,Yeuk Yin Chan,3,middle,https://openalex.org/A2564607509,NaN,1.0,Hong Kong University of Science and Technology,", Hong Kong University of Science and Technology",https://openalex.org/I200769079,https://ror.org/00q4vv597,education,HK
6800,2016,10.1109/TVCG.2016.2598415,A Visual Analytics Approach for Understanding ...,7,Yun Wang,4,middle,https://openalex.org/A2480902628,NaN,1.0,Hong Kong University of Science and Technology,", Hong Kong University of Science and Technology",https://openalex.org/I200769079,https://ror.org/00q4vv597,education,HK
6801,2016,10.1109/TVCG.2016.2598415,A Visual Analytics Approach for Understanding ...,7,Zhipeng Wang,5,middle,https://openalex.org/A2563802158,NaN,1.0,China Academy of Art,China Academy of Art#TAB#,https://openalex.org/I231293419,https://ror.org/01r61sr78,education,CN
6802,2016,10.1109/TVCG.2016.2598415,A Visual Analytics Approach for Understanding ...,7,Huamin Qu,6,middle,https://openalex.org/A2103237498,https://orcid.org/0000-0002-3344-9694,1.0,Hong Kong University of Science and Technology,", Hong Kong University of Science and Technology",https://openalex.org/I200769079,https://ror.org/00q4vv597,education,HK
6803,2016,10.1109/TVCG.2016.2598415,A Visual Analytics Approach for Understanding ...,7,Xiaojuan Ma,7,last,https://openalex.org/A2171908633,https://orcid.org/0000-0002-9847-7784,1.0,Hong Kong University of Science and Technology,", Hong Kong University of Science and Technology",https://openalex.org/I200769079,https://ror.org/00q4vv597,education,HK